* {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 600 !important;
}

.bolder {
    font-weight: 700 !important;
}

.navbar-toggler {
    color: transparent;
    border: transparent;
    background-color: transparent;
    border-color: 1px solid transparent;
    outline: transparent;
    transform: rotate(90deg);
}

.nav-item a.nav-link {
    font-weight: 600;
    color: #656565 !important;
    font-size: 1.2em;
}

.nav-item button {
    font-weight: 600;
    color: #000;
    font-size: 1.2em;
}

.navbar-collapse {
    flex-grow: initial;
}

.logo-text {
    margin-right: 3px;
    font-weight: 600;
    color: #212121;
    font-size: 1.75em;
}

.bar-1,
.bar-2,
.bar-3 {
    width: 6px;
    height: 27px;
    display: inline-block;
    margin-right: 2px;
}

.bar-1 {
    background-color: #f96300;
}

.bar-2 {
    background-color: #f5c800;
}

.bar-3 {
    background-color: #017bff;
    margin-right: 0px;
}

.banner-title {
    font-size: 3em;
    font-weight: 700;
}

.about .banner-title {
    color: #000;
}

.left-cut {
    margin-left: -22px;
}

.right-cut {
    margin-right: -22px;
}

.banner-sub-title {
    font-size: 1.4em;
    color: #4c4c4c;
}

.btn-join {
    background-color: #f96300;
    border-color: #f96300;
    color: #fff;
    padding: 0.8em 1.5em;
    border-radius: 6px;
    font-size: 1.5em;
}

.about .btn-join {
    font-size: 1em;
}

.btn-join:hover {
    background-color: #fff;
    border-color: #656565;
    color: #000;
}

.btn-join:focus {
    box-shadow: none !important;
    background-color: #fff;
    border-color: #656565;
    color: #000;
}

.btn-careers,
.btn-careers:hover,
.btn-careers:focus {
    background-color: #fff;
    border-color: #adadad;
    color: #000;
    padding: 0.8em 1.5em;
    border-radius: 6px;
    font-size: 1em;
}

.btn-nav-join:hover {
    background-color: #f96300 !important;
    border-color: #f96300 !important;
    color: #fff !important;
}

.btn-nav-join:focus {
    box-shadow: none !important;
    background-color: #f96300 !important;
    border-color: #f96300 !important;
    color: #fff !important;
}

.section-bg,
.image-bg {
    background-color: #FAF7F5;
}

.about .section-bg {
    background-color: #f5c800;
}

.orange-bg {
    background-color: #f96300;
}

.blue-bg {
    background-color: #017BFF;
}

.image-bg {
    border-radius: 12px;
}

.triangles {
    width: 320px;
    height: 115px;
    overflow: hidden;
    position: relative;
}

.triangle-1,
.triangle-2,
.triangle-3 {
    width: 156px;
    height: 156px;
    border-radius: 6px;
    transform: rotate(45deg);
}

.triangle-1 {
    position: absolute;
    bottom: -78px;
    left: 32px;
    background-color: #f96300;
}

.triangle-2 {
    position: absolute;
    left: 82px;
    bottom: -78px;
    background-color: #f5c800;
}

.triangle-3 {
    position: absolute;
    left: 132px;
    bottom: -78px;
    background-color: #017bff;
}

h2.custom-title {
    font-size: 2em;
    text-align: center;
    color: #626262;
}

.footer-icon-tiles img {
    width: 50px;
}

.footer-link-head {
    font-size: 1.2em;
    color: #474747;
}

.footer-links a {
    text-decoration: none;
    color: #7a7a7a;
}

@media (min-width: 992px) {
    .col-41p {
        width: 41%;
    }

    .col-17p {
        width: 17%;
    }

    .col-21p {
        width: 21%;
    }
}

@media (max-width: 991px) {}

.yellow-bg {
    background-color: #f5c800;
}